/* Estilo global */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(135deg, #8e44ad, #f39c12, #f39c12);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Animación del fondo */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Estilo del header */
header {
    text-align: center;
    padding: 100px 20px;
}

/*Tamaño para las imagenes*/
.tamaño {
    height: 300px;
}

.header-content h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    color: #fff;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2em;
    font-weight: 300;
}

/* Estilo del contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* Sección de bienvenida */
.welcome h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.8;
}

/* Estilo de la galería */
.gallery {
    text-align: center;
}

.gallery h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    margin-bottom: 20px;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.gallery-images img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-images img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

/* Estilo de la línea de tiempo */
.timeline {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.timeline h2 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
}

.timeline-item {
    margin-bottom: 20px;
}

.timeline-item h3 {
    color: #c21f1f;
    font-size: 1.8em;
}

.timeline-item p {
    font-size: 1.1em;
    line-height: 1.7;
}

/* Mensaje final */
.final-message h2 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

.final-message p {
    font-size: 1.3em;
    text-align: center;
    line-height: 1.8;
}

/* Estilo del footer */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

footer p {
    color
}

/* Responsividad */
@media (max-width: 1100px) {
    .container {
        padding: 30px;
    }

    .gallery {
        flex-direction: column;
    }
    .gallery {
        padding: 30px;
        flex-direction: column;
    }
}
